body {
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-optical-sizing: auto;
}

.invalid-input {
    background-color: rgba(255, 0, 0, 0.329);
    border-color: red;
}

.non-selectable-text {
    user-select: none;
}

.textarea-input {
    width: 100%;
    min-height: 25px;
    height: 25vh;
}